---
import BaseHead from "@/components/BaseHead.astro";
import SectionHeader from "@/components/SectionHeader.astro"
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

---
<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <style>
            main {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100vh;
                padding-left: 100px;
                padding-right: 100px;
            }
            ul {
                margin-left: 300px;
            }
            a:hover {
                font-weight: 700;
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        <!-- <Header title={SITE_TITLE} /> -->
        <main>
            <section>
                <SectionHeader title="Tango" description="A collborative classroom application I got myself into"/>
                <p>there isn't much to say</p>
            </section>
        </main>
    </body>
</html>
